---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro'
import Experience from '@components/Experience.astro';
import Projects from '@components/Projects.astro';
import Footer from '@components/Footer.astro';
import AboutMe from '@components/AboutMe.astro';
import Carousel from "@components/UI/Carousel.astro"
---

<Layout>
	<Header />
	<main class="flex flex-col px-6 h-full">
		<Hero />
		<Carousel />
		<Experience />
		<Projects />
		<AboutMe />
	</main>
	<Footer />
</Layout>

<script src="@scripts/navbarFocus.ts"></script>