---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
---

<Layout>
	<main class="flex flex-col items-center">
		<Hero />
		<section class="flex">
			<h1 class="text-left">Experience</h1>
		</section>
	</main>
</Layout>