---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import Experience from '../components/Experience.astro';
---

<Layout>
	<main class="mx-auto flex flex-col items-center max-w-5xl px-6 h-full">
		<Hero />
		<Experience />
	</main>
</Layout>