---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro'
import Experience from '@components/Experience.astro';
import Projects from '@components/Projects.astro';
import Footer from '@components/Footer.astro';
import AboutMe from '@components/AboutMe.astro';
import Carousel from "@components/UI/Carousel.astro"
---

<Layout>
	<Header />
	<main class="flex flex-col px-6 h-full">
		<Hero />
		<Carousel />
		<Experience />
		<Projects />
		<AboutMe />
	</main>
	<Footer />
</Layout>

<script>
	document.addEventListener("touchstart", function() {}, true);

	document.addEventListener('DOMContentLoaded', () => {
		const sections = document.querySelectorAll('section');
		const navLinks = document.querySelectorAll('nav a');

		function onScroll() {
			let currentSection: string | null = '';
			sections.forEach(section => {
				const sectionTop = section.offsetTop;
				if (window.scrollY >= sectionTop - 200) {
					currentSection = section.getAttribute('id');
				}
			});

			navLinks.forEach(link => {
				link.classList.remove('text-secondary', 'sm:opacity-100', 'font-semibold');
				if (link.getAttribute('href') === `#${currentSection}`) {
					link.classList.add('text-secondary', 'sm:opacity-100', 'font-semibold');
				}
			});
		}

		window.addEventListener('scroll', onScroll);
	});
</script>