---
import ExperienceCard from "./ExperienceCard.astro";
---

<section class="mb-12">
    <h2 id="experience" class="opacity-80 font-semibold text-4xl mb-8 text-left md:text-center">Experience</h2>
    <div class="relative h-full">
        <div class="absolute ml-2 md:ml-0 left-0 top-4 md:left-1/2 w-[3px] bg-yellow-500 transform -translate-x-1/2 h-full"></div>
        <slot >
    </div>
</section>
