---
import BackIcon from "@icons/BackIcon.astro"
---

<div class="flex justify-center items-center h-full">
    <div class="flex flex-col">
        <h1 class="animate-slidein lg:animate-none md:leading-tight md:text-6xl text-4xl font-extrabold bg-gradient-to-r text-c mb-4 text-primary">
            <span class="lg:opacity-0 lg:animate-slidein inline lg:block">Thank you for your message!</span>
            <span class="lg:opacity-0 lg:animate-slidein100 inline lg:block">I will respond</span>
            <span class="lg:opacity-0 lg:animate-slidein200 text-secondary font-extrabold inline lg:block">as soon as possible!</span>
        </h1>
        <div class="flex">
            <div class="hover:bg-slate-500/20 text-gray-200 flex gap-x-2 items-center cursor-pointer font-medium text-sm rounded-xl px-4 py-2.5 me-2 mb-2 border-[1px] border-slate-500/20 duration-100 ease-in-out transform">
                <BackIcon class="w-5 h-5" color="#FFF"/>
                <a href="/">Go back</a>
            </div>
        </div>
    </div>
</div>