<footer class="flex py-5 justify-between text-sm text-slate-400">
    <span>© 2024 Gerard Doncel Gutiérrez</span>
    <div>
        <nav class="flex justify-center items-center gap-x-4">
            <a class="hover:text-white" href="#">Back to top</a>
        </nav>
    </div>
</footer>