<header class="my-0 mx-auto opacity-80 max-w-[1024px]">
    <nav class="flex justify-center items-center gap-x-7 py-6">
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#aboutme">About Me</a>
    </nav>
</header>