<section class="py-12 lg:py-32 max-w-[720px] opacity-85 px-8">
    <h1 class="text-5xl font-bold">Hi, I'm Gerard Doncel</h1>
    <p class="mt-4">Computer Engenieer, +1 years of PHP experience. Barcelona, Spain ES. Always exploring new tech stacks to build cool stuff.</p>
</section>