<div class="duration-100 ease-in-out transform hover:scale-105 hover:bg-slate-600/20 flex gap-x-2 cursor-pointer focus:outline-none font-medium rounded-xl text-sm px-4 py-2.5 me-2 mb-2 border-[1px] border-slate-500/20">
    <slot />
    <a target="_blank" href={Astro.props.href}>{Astro.props.label}</a>
</div>
