---
import Header from "../components/Header.astro"
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
                <meta name="theme-color" content="#161616" />
		<title>Gerard Doncel - Full Stack Developer</title>
	</head>
	<body class="my-0 mx-auto text-white">
		<!-- Gradient Background -->
		<div class="fixed w-full h-dvh -z-10">
			<div class="absolute bottom-0 left-[-15%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(124,58,237,.15),rgba(255,255,255,0))]"></div>
			<div class="absolute bottom-0 right-[-15%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(124,58,237,.15),rgba(255,255,255,0))]"></div>
		</div>
		<Header />
		<slot />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>

<style is:global>
	*, *::before, *::after {
  		box-sizing: border-box;
	}

	html {
		font-family: 'Onest Variable', sans-serif;
		scroll-behavior: smooth;
		/* background-color: rgb(2, 6, 23, 1); */
		background-color: #0e0b25;
	}

	::selection {
		background: #6834C6;
		color: #ffffff;
	}
</style>
