---
import PhpIconCarousel from '@icons/tech/PHPIconCarousel.astro';
import JavaScriptIcon from '@icons/tech/JavaScriptIcon.astro';
import HtmlIcon from '@icons/tech/HTMLIcon.astro';
import CssIcon from '@icons/tech/CSSIcon.astro';
import SqlIcon from '@icons/tech/SQLIcon.astro';
import GitIcon from '@icons/tech/GitIcon.astro';
import ReactIcon from '@icons/tech/ReactIcon.astro';
import TailwindIcon from '@icons/tech/TailwindIcon.astro';
import VisualStudio from '@icons/tech/VisualStudio.astro';
import LaravelIcon from '@icons/tech/LaravelIcon.astro';
---

<div class="w-full inline-flex flex-nowrap overflow-hidden mb-12 [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-5 sm:[&_li]:mx-8 animate-infinite-scroll">
        <li>
            <PhpIconCarousel class="w-20 h-20"/>
        </li>
        <li>
            <LaravelIcon class="w-20 h-20"/>
        </li>
        <li>
            <HtmlIcon class="w-20 h-20"/>
        </li>
        <li>
            <CssIcon class="w-20 h-20"/>
        </li>
        <li>
            <JavaScriptIcon class="w-20 h-20"/>
        </li>
        <li>
            <SqlIcon class="w-20 h-20"/>
        </li>
        <li>
            <GitIcon class="w-20 h-20"/>
        </li>
        <li>
            <ReactIcon class="w-20 h-20"/>
        </li>
        <li>
            <TailwindIcon class="w-20 h-20"/>
        </li>
        <li>
            <VisualStudio class="w-20 h-20"/>
        </li>
        <li>
            <PhpIconCarousel class="w-20 h-20"/>
        </li>
        <li>
            <LaravelIcon class="w-20 h-20"/>
        </li>
        <li>
            <HtmlIcon class="w-20 h-20"/>
        </li>
        <li>
            <CssIcon class="w-20 h-20"/>
        </li>
        <li>
            <JavaScriptIcon class="w-20 h-20"/>
        </li>
        <li>
            <SqlIcon class="w-20 h-20"/>
        </li>
        <li>
            <GitIcon class="w-20 h-20"/>
        </li>
        <li>
            <ReactIcon class="w-20 h-20"/>
        </li>
        <li>
            <TailwindIcon class="w-20 h-20"/>
        </li>
        <li>
            <VisualStudio class="w-20 h-20"/>
        </li>
    </ul>
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-5 sm:[&_li]:mx-8 animate-infinite-scroll" aria-hidden="true">
        <li>
            <PhpIconCarousel class="w-20 h-20"/>
        </li>
        <li>
            <LaravelIcon class="w-20 h-20"/>
        </li>
        <li>
            <HtmlIcon class="w-20 h-20"/>
        </li>
        <li>
            <CssIcon class="w-20 h-20"/>
        </li>
        <li>
            <JavaScriptIcon class="w-20 h-20"/>
        </li>
        <li>
            <SqlIcon class="w-20 h-20"/>
        </li>
        <li>
            <GitIcon class="w-20 h-20"/>
        </li>
        <li>
            <ReactIcon class="w-20 h-20"/>
        </li>
        <li>
            <TailwindIcon class="w-20 h-20"/>
        </li>
        <li>
            <VisualStudio class="w-20 h-20"/>
        </li>
        <li>
            <PhpIconCarousel class="w-20 h-20"/>
        </li>
        <li>
            <LaravelIcon class="w-20 h-20"/>
        </li>
        <li>
            <HtmlIcon class="w-20 h-20"/>
        </li>
        <li>
            <CssIcon class="w-20 h-20"/>
        </li>
        <li>
            <JavaScriptIcon class="w-20 h-20"/>
        </li>
        <li>
            <SqlIcon class="w-20 h-20"/>
        </li>
        <li>
            <GitIcon class="w-20 h-20"/>
        </li>
        <li>
            <ReactIcon class="w-20 h-20"/>
        </li>
        <li>
            <TailwindIcon class="w-20 h-20"/>
        </li>
        <li>
            <VisualStudio class="w-20 h-20"/>
        </li>
    </ul>                             
</div>